@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
:root {
  --text: #f4f4f4;
  --text-inverse: #333;
  --background: transparent;
}
html{
  scroll-behavior: smooth;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  min-height: 200vh;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 12vh;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.6s ease-in-out;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav.sticky {
  transition: 0.6s ease-in-out;
  min-height: 8vh;
  padding: 10px 0;
}
.logo {
  color: rgb(224, 222, 222);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.nav-links li {
  position: relative;
  list-style: none;
  margin: 0 10px;
}
.nav-links a {
  position: relative;
  list-style: none;
  color: rgb(224, 222, 222);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 15px;
}
.nav-links a:not(.links):after {
  content: "";
  position: absolute;
  background-color: cornsilk;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.nav-links a:hover::after {
  width: 100%;
}
.nav__list{
  display: flex;
  justify-content: space-between;
  
}
.nav__list li{
  margin: 0 5px;
  list-style: none;
  position: relative;
}
.nav-links li.user-btn{
  display: none;
}
.nav__list a {
  position: relative;
  list-style: none;
  color: rgb(224, 222, 222);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 22px;
}
.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: rgb(224, 222, 222);
}

.svg-icon circle {
  stroke: rgb(224, 222, 222);
  stroke-width: 1;
}
.svg-icon:hover{
fill: #fff;
}

.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 2px;
  background-color: rgb(224, 222, 222);
  margin: 5px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 90vh;
    top: 12vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 10000;
    justify-content: center;
  }
  .nav-links li {
    opacity: 0;
    bottom:12vh
  }
  .nav-links li.user-btn{
  display: block;
}
  .burger {
    display: block;
  }
  .nav__list{
    position: absolute;
    display:none
  }
}
.nav-active {
  transform: translateX(0%);
}
.nav-active-scroll {
  transform: translate(0%);
  /* top: 8vh; */
}
@keyframes navlinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url("./img/pitch.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 391px) {
  body{
    overflow-x: hidden;
  }

  .banner .home {
    top: 38%;
  }
  .banner .starting {
  font-size: 160px;
}
.banner .remain {
  font-size: 52px;
}
.columns {
  
  flex-direction: column;
  grid-gap: 10px;
}
.home-about{
width: 300px;
}
.intro .intro-text {
    color: aliceblue;
    font-size: 2rem;
    padding: 18px;
}
}


.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #f3eaea;
  font-size: 25px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}
.home {
  position: absolute;
  top: 22%;
  text-align: center;
  color: #f3eaea;
  font-size: 25px;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
}
.starting {
  font-size: 350px;
}
.remain {
  font-size: 100px;
}
.intro {
  z-index: 10000;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  background: rgba(97, 105, 109);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}
.intro-text {
  color: aliceblue;
  font-size: 3rem;
}
.hide {
  background: black;
  overflow: hidden;
}
.hide span {
  transform: translateY(100%);
  display: inline-block;
}
ul.account-link {
  display: flex;
}
.links {
  border: 1.5px solid white;
  border-radius: 2em;
  /* margin-left: 1em; */
  transition: background 250ms ease-in-out;
  letter-spacing: 1px;
  padding: 0.75em 1.5em;
  /* color: white; */
  cursor: pointer;
}
.login__btn:hover {
  background: white;
  color: black;
  border-color: var(--text);
}
.login__btn::after {
  display: none;
}
.cart__btn:hover {
  background: white;
  border-color: white;
  color: #000;
}


.home_links {
  line-height: 40px;
}
.goals{
  background-color: #484847;
  position: relative;
}
.home-about {
  padding: 4em 0;
  max-width: 1170px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;

}
@media screen and (min-width:1280px){
  .col + .col {
  margin-left: 1.5em;
}
}

.columns {
  display: flex;
  grid-gap: 2em;
  line-height: 28px;
}
.box{
  border-radius: 10px;
/* -webkit-box-shadow: 0 10px 29px 0 rgb(68 88 144 / 10%);
-moz-box-shadow:  0 10px 29px 0 rgb(68 88 144 / 10%); */
/* box-shadow: 0 10px 29px 0 rgb(68 88 144 / 10%); */
padding: 30px;
text-align: center;
    margin: 0 10px 40px 10px;
background-color: #757875;
/* transform: translateZ(0); */
}
 .goals .custom-shape-divider-top-1644000556 {
    position: absolute;
    /* top: 0; */
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
@media screen and (max-width:391px){
  .goals .custom-shape-divider-top-1644000556{
    bottom: -117px;
  }
}

 .goals .custom-shape-divider-top-1644000556 svg {
    position: relative;
    display: block;
    width: calc(102% + 1.3px);
    height: 118px;
}

.goals .custom-shape-divider-top-1644000556 .shape-fill {
    fill: #484847;
}
/* .col + .col {
  margin-left: 2em;
} */
.fade-in{
  opacity:0;
  transform: translateY(100px);
  /* transform: translateZ(30px); */
  transition: all  300ms ease-in-out;
}
.fade-in.appear{
  transform: translateY(0);
  opacity: 1;
}
.box:hover{
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 300ms ease-in-out;
}
/* p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
} */
.box h3 {
    display: block;
    font-size: 1.4em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.home-about h2 {
    display: block;
    font-size: 3em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
}
/* .more-stuff-grid {
  background: #f4f4f4;
  padding: 4em 0;
  display: grid;
  grid-gap: 2em;
  align-items: center;
  grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax(1em, 1fr);
}

.from-left {
  grid-column: 2 / 3;
  transform: translateX(-50%);
}

.from-right {
  grid-column: 3 / 4;
  transform: translateX(50%);
}
.from-left,
.from-right{
  transition:opacity 250ms ease-in, transform 400ms ease-in;
  opacity: 0;
}
.from-left.appear,
.from-right.appear{
  transform: translateX(0);
  opacity: 1;
} */
.merch-section{
padding: 5rem 0;
background:#7a7a7a;
font-family: 'Poppins', sans-serif;
}
.section-center{
  width: 90vw;
  margin: 0 auto;
  max-width: 900px;
}
@media screen and (min-width:1280px){
  .merchandise .section-center{
    transform: translateY(7rem);
  }
  .merch-section{
    padding: 0;
  }
}
@media screen and (min-width:992px){
  .section-center{
    width: 95vw;
  }
  .merchandise .header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
}

.merchandise .header h2{
  margin-bottom: 2rem;
  font-size: 1.8rem;
}
@media screen and (min-width:800px){
  h2{
    line-height: 1;
    font-size: 2rem;
  }
}
.header p{
margin-bottom: 0px;
line-height: 1.8;
color: #000;
}
.merchandise .services-center{
  margin-top:4rem;
  display: grid;
  gap: 2.5rem;
}
@media (min-width:576px){
  .merchandise .services-center{
    grid-template-columns: repeat(auto-fit,minmax(360px,1fr));
  }
}
.merchandise .services{
  background: #464646;
  text-align: center;
  padding: 2.5rem 2rem;
  border-radius: 10px;
  transition:all 300ms ease-in-out
}
.services span svg{
  height: 11rem;
    background: white;
    border-radius: 50%;
    padding: 16px;
}
.services  a{
  text-decoration: none;
  color: #000;
}
.merchandise .services:hover{
    /* cursor: pointer; */
  transform: scale(1.02);
   transition: all 300ms ease-in-out; 
}
.services a:hover{
  transform: scale(1.5);
}
