@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    max-width: 88px;
    transform: scale(2.8);
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a{
    display: inline-block;
    color: #fff;
    font-weight:500;
    text-decoration: none;
    margin-left: 40px;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textbox{
    position: relative;
    max-width: 600px;
}
.content .textbox h2{
    color: #333;
    font-size: 1.8em;
    line-height: 1.4em;
    font-weight: 500;
}
.content .textbox h2 span{
    color: black;
    font-size: 2em;
    font-weight: 900;
}
.content .textbox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background-color: black;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing:1px ;
}
.content .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}
.content .imgBox img{
    max-width: 500px;
}
.sci{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
}
.sci img{
    max-width: 50px;
}
.sci li{
    list-style: none;
    transition: 0.5s;
}
.sci li:hover{
    transform: translateX(-15px);
}
.sci li a{
    display: inline-block;
    margin:5px 0 ;
    transform: scale(0.6);
    filter: invert(1);
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#000;
    clip-path: circle(805px at right 700px);

}
/* ----------------Idea us----------------- */
.idea_us{
background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 39%, rgba(175,169,169,0.2945553221288515) 62%, rgba(0,0,0,0.4458158263305322) 100%);
position: relative;
padding: 100px;
}


.idea_us a{
    text-decoration: none;
    color: #000;
}
.idea_center h2{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 5px;
}
.idea_center p{
    margin-bottom: 0px;
    line-height: 2;
    letter-spacing: 1px;
    
}
/* -----------------goals---------------- */
.goals{
    position: relative;
    padding: 100px;
    width: 100%;
}
.goals .columns{
    display: grid;
    grid-template-areas: 'box box box';
}
.goals .columns .box{
    border-radius: 20px;
    padding: 30px;
    margin: 0 10px 40px 10px;
    box-shadow: rgb(68 88 144 / 10%) -1px 14px 14px 0px;
    text-align: center;
    
}
.goals .box img{
    width: 56px;
    object-fit: cover;
    font-weight: 700;
}
.goals h2{
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 20px;
}
/* --------------------merch-section--------------- */
.merch-section{
    position: relative;
    padding: 100px;
    width: 100%;
}





/* -----------------Media query------------ */
@media (max-width:991px){
    header{
        padding: 20px;
    }
    header .logo{
        left: 10px;
        max-width: 55px;
        transform: scale(2.8);
    }
    header ul{
        display: none;
    }
    .toggle{
        position: relative;
        width: 30px;
        height: 30px;
        background: url(./img/menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        filter: invert(1);
        z-index: 11;
    }
    .toggle.active{
        position: fixed;
        right: 20px;
        background: url(./img/close.png);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
        
    }
    header ul.navigation.active{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
        z-index: 10;
        transition: 450ms;
    }
    header ul li a{
        color: #000;
        font-size: larger;
        font-weight: 500;
    }
    section{
        overflow-x: hidden;
        padding: 20px 20px 120px;
    }
    .content{
        flex-direction: column;
        margin-top: 100px;
    }
    .content .textBox h2{
        font-size: 2.5em;
        margin-bottom: 15px;
    }
    .content .textBox{
        max-width: 100%;
    }
    .circle{
        clip-path: circle(580px at center bottom);
    }
    .content .imgBox{
        max-width: 100%;
        justify-content: center;
    }
    .content .imgBox img{
        max-width: 450px;
    }
    .sci {
        background:black;
        right: 0;
        width: 50px;
        border-top-left-radius:5px ;
        border-bottom-left-radius: 5px;
    }
    .idea_us .idea_center img{
        max-width: 305px;
    }
    .goals{
        padding: 50px;
    }
    .goals .columns{
        grid-template-areas: 'box';
    }
    
}

@media screen and (min-width: 992px) {

  .idea_us .idea_center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3.5rem;
  }
.idea_us .idea_center img {

    max-width: 445px;
    outline: none;
    border: none;
    background: none;
}
.merchandise .header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
}
@media screen and (max-width:768px){
    .idea_us{
        padding: 20px;
    }
    .goals{
        padding: 20px;
    }

}
