<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='./welcome.css'>
    <title>Document</title>
 
  </head>
  <body>
    <div>
      <h1 class="heading">
        dear user,
        <span>Your account has been registered successfully</span>
      </h1>
       <a href=""><button class="btn">Campus Connect</button></a>
  
    </div>
  </body>
</html>